<!DOCTYPE html>
<html lang="zh">
  
  <head>
    <meta charset="utf-8">
    <title><%= title %> - 逼乎 - www.ibihu.top </title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta name="description" content="www.ibihu.top">
    <meta name="keywords" content="www.ibihu.top">
    <meta name="author" content="xi4oz3ro">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcuticon" type="image/x-icon" href="https://static.zhihu.com/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://petitzero.oss-cn-shenzhen.aliyuncs.com/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://petitzero.oss-cn-shenzhen.aliyuncs.com/main.app.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/common.js"></script>
  </head>
  
  <body>
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">逼乎</a></div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li>
              <a href="/">首页</a></li>
            <li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false">zhihu <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://jsfiddle.net/bootswatch/cvLkpsx0/">Open Sandbox</a></li>
                <li><a href="./bootstrap.min.css">bootstrap.min.css</a></li>
                <li><a href="./bootstrap.css">bootstrap.css</a></li>
                <li><a href="./variables.less">variables.less</a></li>
                <li><a href="./bootswatch.less">bootswatch.less</a></li>
                <li><a href="./_variables.scss">_variables.scss</a></li>
                <li><a href="./_bootswatch.scss">_bootswatch.scss</a></li>
              </ul>
            </li>
            <li>
              <a href="/bilibili">哔哩哔哩</a>
            </li>
            <li>
              <a href="/jiandan">煎蛋网</a>
            </li>
            <li>
              <a href="/grocerystore">解忧杂货店</a>
            </li>
            <li>
              <a href="/about">关于</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">