<div class="Pagination" id="main-pager">
	<ul class="pagination">
	    <li v-if="hasPrev"><a v-bind:href="'javascript:_changePage('+ prev +')'">«</a></li>
	    <li v-if="hasPrev"><a v-bind:href="'javascript:_changePage('+ prev +')'">{{prev}}</a></li>
	    <li class="active"><a v-bind:href="'javascript:_changePage('+ current +')'">{{current}}</a></li>
	    <li v-if="hasNext"><a v-bind:href="'javascript:_changePage('+ next +')'">{{next}}</a></li>
	    <li v-if="hasNext"><a v-bind:href="'javascript:_changePage('+ next +')'">»</a></li>
  	</ul>
</div>