<%- include('layouts/header') %>

<div class="row">
  <div class="col-lg-12 col-sm-12 col-md-12">
    <div class="page-header">
      <h1>逼乎 排行榜</h1>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
        <h1>Show You</h1>
        <p>什么是用户最喜欢的。</p>
        <p>&nbsp;</p>
        <p>And</p>
        <p>&nbsp;</p>
        <h1>Tell Me</h1>
        <p>你有什么不开心的。</p>
        <p><a class="btn btn-primary btn-lg" href="#">解忧杂货店</a></p>
      </div>
  </div>
</div>


<%- include('layouts/footer') %>
<script type="text/javascript" src="/javascripts/zhihu/users/<%= name %>.js"></script>
<script type="text/javascript" src="/javascripts/zhihu.js"></script>
<%- include('layouts/end') %>